.responsive-table-wrapper {
    overflow-x: auto;
}

.responsive-table-wrapper table {
    margin-bottom: 0;
}

/*
 * These lines are necessary for custom sorting table icons, when using datatables, these are not required
 *
table.table thead .sorting {
    padding-right: 20px;
    background: url('../images/sort_both.png') no-repeat center right;
}

table.table thead .sorting_asc {
    padding-right: 20px;
    background: url('../images/sort_asc.png') no-repeat center right;
}

table.table thead .sorting_desc {
    padding-right: 20px;
    background: url('../images/sort_desc.png') no-repeat center right;
}
*/

.dir-rtl {
    direction: rtl !important;
}

.dir-ltr {
    direction: ltr !important;
}

.post-form-title-control{
    height:60px;
    font-size:32px !important;
}

.post-form-title-control::PLACEHOLDER {
    color: #858585;
    font-size: 32px;
}

